Django==2.0
dj-database-url==0.4.2
django-nested-inline==0.3.7
django-widget-tweaks==1.4.1
graphene-django==2.0.0
graphene==2.0.1
gunicorn==19.7.1
ipython==6.2.1
psycopg2==2.7.3.2
scipy==1.0.0
trueskill==0.4.4
whitenoise==3.3.1
