{% load static %}

<!DOCTYPE html>
<html lang="en" class="stretch">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}
				Beach Week {% now "Y" %} Crokinole Leaderboard
			{% endblock %}
		</title>

		<link rel="icon" href="{% static "favicon.png" %}">

		<!-- BOOTSTRAP STUFF -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

		<!-- LOCAL STUFF -->
		<link rel="stylesheet" href="{% static "skillboards/style.css" %}">
		{% block bundle %}{% endblock %}

	</head>
	<body class="stretch">
		<div class="stretch-container">
			<header>
				{% block header %}
					<nav class="navbar navbar-expand-sm navbar-light">
						<div class="container">
							<a class="navbar-brand" href="{% url "index" %}">
								<img src="{% static "skillboards/crokinole-logo.svg" %}" width="30" height="30" class="d-inline-block align-top"> Crokinole Ladder <small class="text-muted">Beach Week 2018</small>
							</a>
						</div>
					</nav>
				{% endblock %}
			</header>
			<main class="stretch-main">{% block main %}{% endblock %}</main>
			<footer>
				<div class="container">
					<div class="row">
						<div class="col d-flex justify-content-end">
							<span class="footer-item">
								<a href="{% url "about_page" %}">About</a>
							</span>
							<span class="footer-item">
								<a href="https://paper.dropbox.com/doc/Beach-Week-Crokinole-Rules-JhpiBUr8YFZ2aVtZcEwH0" target="_blank">
									Rules
								</a>
							</span>
							<span class="footer-item">
								<a href="https://github.com/Lucretiel/SkillServe" target="_blank">
									Github
								</a>
							</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
