.btn-group-justified {
	display: flex;
	width: 100%;
	.btn,
	.btn-group {
		flex: 1;
		.btn {
			width: 100%;
		}
	}
}

.diamond-bg {
	color: #292b2c;
	background-color: #00FFFF;
}

.platinum-bg {
	color: #292b2c;
	background-color: #E5E4E2;
}

.gold-bg {
	background-color: #D4AF37;
}

.silver-bg {
	background-color: #C0C0C0;
}

.bronze-bg {
	background-color: #CD7F32;
}

.footer {
	background-color: #efefef;
	position: absolute;
	right: 0;
	left: 0;
	padding: .5rem;
}
